* {
	margin: 0;
	padding: 0;
}

.navbar {
  display: flex;             
  align-items: center;
  margin-bottom: 136px;  
}

.nav-links {             
  list-style: none; 
  gap: 20px;
  font-weight: 700;
  font-size: 26px;
  color: rgba(141, 129, 255, 1);
  text-decoration: none;
  margin-bottom: 136px;
}

h1 {
	font-weight: 700;
	font-size: 48px;
	color: rgba(48, 203, 194, 1);
	display: flex;               
  margin-left: 52px;
  margin-top: 54px;
 	margin-right: 60px;
 	margin-bottom: 44px;
 	font-style: Bold;
}

ul {
	list-style: none;
	display: flex;
	gap: 87px;
} 

#active {
	color: rgba(78, 111, 174, 1);
} 

.misamarti {
	color: rgba(63, 65, 69, 1);
	font-weight: 400;
	font-size: 20px;
	margin-left: 162px;
	margin-bottom: 23px;
}

.dark {
	color: rgba(126, 136, 152, 1);
	font-weight: 400;
	font-size: 20px;
}

h3 {
	font-weight: 700;
	font-size: 36px;
	color: rgba(78, 111, 174, 1);
	margin-left: 162px;
	margin-bottom: 27px;
}

#informacia {
	display: flex;
  list-style: none; 
  margin-top: 136px;
  margin-left: 130px;
  margin-right: 40px;
  gap: 100px;
  margin-bottom: 200px;
}

#map {
	width: 944px;
	height: 549px;
}

#fb {
	height: 50px;
	width: 50px;
	margin-left: 194px;
	margin-left: 96px;
}

#line {
	width: 2px;
	height: 48px;
	background-color: rgba(80, 18, 213, 1);
	display: inline-block;
	margin-left: 41px;
	margin-right: 41px;
}

#yt {
	height: 49px;
	width: 71px;
}