* {
	margin: 0;
	padding: 0;
}

.navbar {
  display: flex;             
  align-items: center;  
}

.nav-links {             
  list-style: none; 
  gap: 20px;
  font-weight: 700;
  font-size: 26px;
  color: rgba(141, 129, 255, 1);
  text-decoration: none;
}

h1 {
	font-weight: 700;
	font-size: 48px;
	color: rgba(48, 203, 194, 1);
	display: flex;               
  margin-left: 52px;
  margin-top: 54px;
 	margin-right: 60px;
 	margin-bottom: 44px;
 	font-style: Bold;
}

ul {
	list-style: none;
	display: flex;
	gap: 87px;
} 

#active {
	color: rgba(78, 111, 174, 1);
} 

.date {
	width: 50px;
	height: 50px;
	background-color: rgba(80, 18, 213, 1);
	color: rgba(132, 255, 129, 1);
	font-size: 24px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 10px;
	font-weight: 400;
	margin-left: 52px;
}

.month {
	font-weight: 400;
	font-size: 24px;
	color: rgba(141, 129, 255, 1);
	margin-left: 52px;
	margin-top: 18px;

}

h5 {
	font-size: 20px;
	font-weight: 700;
	margin-left: 52px;
	margin-top: 8px;
	color: rgba(78, 111, 174, 1);
	margin-bottom: 14px;
}

#pic1 {
	margin-left: 52px;
	margin-top: 13px;
	margin-right: 66px;
	width: 447px;
	height: 280px; 
	margin-bottom: 155px;
}
 
.info {
	display: flex;   
  align-items: flex-start;
  gap: 20px; 
}

.text {
	font-weight: 400;
	font-size: 16px;
	color: rgba(78, 111, 174, 1);
 	flex: 1;
 	line-height: 1.6;
 	margin-right: 270px;
}

#pic2 {
	margin-left: 52px;
	margin-top: 13px;
	margin-right: 66px;
	width: 447px;
	height: 280px;
	margin-bottom: 155px;
}

#pic3 {
	margin-left: 52px;
	margin-top: 14px;
}

.teqsti {
	margin-left: 52px;
	margin-top: 32px;
	margin-right: 300px;
	font-weight: 400;
	font-size: 16px;
	color: rgba(78, 111, 174, 1);
	margin-bottom: 143px;
}

#fb {
	height: 50px;
	width: 50px;
	margin-left: 52px;
}

#line {
	width: 2px;
	height: 48px;
	background-color: rgba(80, 18, 213, 1);
	display: inline-block;
	margin-left: 41px;
	margin-right: 41px;
}

#yt {
	height: 49px;
	width: 71px;
}




